.footer {
    height: 118px;
    width: 100%;
    background-color: #1A1A1A;
    &__logo {
        padding-top: 30px;
        text-align: center;
    }

    &__text {
 font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 3;
align-items: center;
text-align: center;
color: #737373;
    }
}
